@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist-Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Geist-Mono.woff2") format("woff2");
}

main ul {
  @apply list-disc;
}

main li {
  @apply ml-6 p-2;
}

main blockquote {
  @apply bg-semi-dark-gray mt-3 rounded-md p-5 text-gray-400 border-l-8 my-4;
}

code,
.astro-code code .line > span {
  font-family: "Geist-Mono", sans-serif;
}

.astro-code {
  @apply bg-semi-dark-gray rounded-md my-5 p-5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  @apply my-6 !important;
}

p a {
  @apply underline;
}
