@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

html {
  color-scheme: dark;
}

*::-webkit-scrollbar {
  @apply hidden;
}

* {
  font-family: "Geist", sans-serif;
  @apply scroll-smooth;
}

.spin {
  animation: spinning 3s linear infinite;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  @apply text-[42px] font-medium leading-relaxed sm:text-6xl sm:leading-normal !important;
}
h2 {
  @apply text-4xl font-medium leading-normal sm:text-5xl sm:leading-normal !important;
}
h3 {
  @apply text-4xl font-medium leading-normal !important;
}
h4 {
  @apply text-3xl font-medium leading-normal !important;
}
h5 {
  @apply text-2xl font-medium leading-normal !important;
}
h6 {
  @apply text-xl font-medium leading-normal !important;
}

@keyframes slide {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0px);
  }
}

#menu-hidden + #side-menu {
  @apply hidden;
}

#menu-hidden:checked + #side-menu {
  animation: slide 0.5s ease-in;
  @apply flex;
}

@keyframes fade-in {
  from {
    @apply opacity-0;
  }
  to {
    @apply opacity-100;
  }
}

@keyframes fade-out {
  from {
    @apply opacity-100;
  }
  to {
    @apply opacity-0;
  }
}

@keyframes slide-to-left {
  from {
    translate: -4rem;
  }
  to {
    translate: 0rem;
  }
}

@keyframes slide-to-right {
  from {
    translate: 4rem;
  }
  to {
    translate: 0rem;
  }
}
