@import "tailwindcss";

@config "../../tailwind.config.ts";

@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Geist.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/fonts/JetBrains-Mono/JetBrainsMono-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/JetBrains-Mono/JetBrainsMono-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/JetBrains-Mono/JetBrainsMono-Light.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/JetBrains-Mono/JetBrainsMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/JetBrains-Mono/JetBrainsMono-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/JetBrains-Mono/JetBrainsMono-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/JetBrains-Mono/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/JetBrains-Mono/JetBrainsMono-ExtraBold.woff2") format("woff2");
}

::selection {
  background-color: rgba(0, 166, 255, 0.301);
}

*::-webkit-scrollbar {
  @apply hidden;
}

*:not(.astro-tweet-theme *) {
  font-family: "Jetbrains Mono", sans-serif;
  @apply scroll-smooth;
}

/* Override astro-tweet's default theme */
.astro-tweet-theme {
  --tweet-bg-color: #1c1c1c;
  --tweet-bg-color-hover: #212121;
  --tweet-border: 1px solid #3b3b3b;
  font-family: "Geist", sans-serif !important;
}

:root {
  view-transition-name: none;
}

html {
  color-scheme: dark;
}

.spin {
  animation: spinning 3s linear infinite;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p:not(.astro-tweet-theme *) {
  word-spacing: -2px;
}

ul,
li {
  @apply list-none! pl-0! ml-0!;
}

h1 {
  @apply text-4xl! font-bold! leading-relaxed! sm:leading-normal!;
}

h2 {
  @apply text-4xl! font-bold! leading-normal! sm:leading-normal!;
}

h3 {
  @apply text-4xl! font-black!;
}

h4 {
  @apply text-3xl! font-bold!;
}

h5 {
  @apply text-2xl! font-bold!;
}

h6 {
  @apply text-xl! font-bold!;
}

@keyframes slide {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0px);
  }
}

#menu-hidden + #side-menu {
  @apply hidden;
}

#menu-hidden:checked + #side-menu {
  animation: slide 0.5s ease-in;
  @apply flex;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-to-left {
  from {
    translate: -4rem;
  }
  to {
    translate: 0rem;
  }
}

@keyframes slide-to-right {
  from {
    translate: 4rem;
  }
  to {
    translate: 0rem;
  }
}
