---
import BaseLayout from "../layouts/BaseLayout.astro";

export const prerender = true;
---

<BaseLayout class="text-center" title="Page Not Found">
  <h1>404</h1>
  <h4>This page could not be found</h4>
  <p class="mt-2 mb-10">Looks like you navigated to the wrong branch. Go back to the main one:</p>
  <a href="/" class="mt-10 bg-semi-dark-gray font-mono , p-4 rounded-md">
    <span class="text-yellow-600">$</span>
    git checkout main
  </a>
</BaseLayout>
