---
import { socialLinks } from "../data";

import SocialCard from "../components/SocialCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

export const prerender = true;
---

<BaseLayout title="About" class="text-center" path="/about">
  <h1>About Me.</h1>
  <p class="mt-5 text-2xl leading-relaxed ml-2">
    My name is Aarush, known on the internet as Dev-Siri. I am a Fullstack Web & Flutter developer from India. With a passion for coding and a keen
    eye for detail, I have honed my skills in developing
    <i>blazingly</i> fast apps with brilliant User Experiences. I strive to create seamless and intuitive applications that can run on any platform, utilizing
    the most in-demand technologies. My expertise in Fullstack development and Flutter allows me to create cross-platform applications that deliver exceptional
    performance and functionality. With a strong focus on user-centric design and efficient coding practices, I am dedicated to delivering top-quality
    software solutions that exceed client expectations. Whether it's a web application or a mobile app, I am committed to creating innovative and efficient
    solutions that push the boundaries of what's possible in the world of software development.
  </p>
  <h1 class="my-5">Social Links.</h1>
  <section class="flex flex-col md:flex-row gap-2">
    {socialLinks.map(socialLink => <SocialCard {...socialLink} />)}
  </section>
</BaseLayout>
