---
import BaseLayout from "../layouts/BaseLayout.astro";

import type { BlogPost } from "../types";

import AnimatedText from "../islands/AnimatedText.svelte";

const blogPosts = Object.values(import.meta.glob<BlogPost>("./blog/**/*.mdx", { eager: true }));
---

<BaseLayout title="Blog" path="/blog" description="I like to post about my life, comparison of the technologies I use and other cool stuff here.">
  <h4>
    dev-siri's
    <span class="font-semibold">
      <AnimatedText client:load text="blog" animationSpeed={50} />
    </span>
  </h4>
  <ul>
    {
      blogPosts
        .sort((prevPost, nextPost) => {
          if (new Date(prevPost.frontmatter.publishdate) < new Date(nextPost.frontmatter.publishdate)) return 1;

          return -1;
        })
        .map(({ frontmatter, url }) => (
          <li class="py-0">
            <a href={url} class="text-start">
              <h6>{frontmatter.title.toLowerCase()}</h6>
              <p class="text-gray-400 -mt-5">{frontmatter.publishdate.toLowerCase()}</p>
            </a>
          </li>
        ))
    }
  </ul>
</BaseLayout>
