---
import BaseLayout from "../layouts/BaseLayout.astro";

const blogPosts = await Astro.glob("./blog/**/*.mdx");
---

<BaseLayout title="Blog" path="/blog" description="I like to post about my life, comparison of the technologies I use and other cool stuff here.">
  <h4>Dev-Siri's Blog</h4>
  <ul class="list-[none!important]">
    {
      blogPosts
        .sort((prevPost, nextPost) => {
          if (new Date(prevPost.frontmatter.publishdate) < new Date(nextPost.frontmatter.publishdate)) return 1;

          return -1;
        })
        .map(({ frontmatter, url }) => (
          <li class="py-0">
            <a href={url} class="text-start">
              <h6 transition:name={frontmatter.title}>{frontmatter.title}</h6>
              <p class="text-gray-400 -mt-5">{frontmatter.publishdate}</p>
            </a>
          </li>
        ))
    }
  </ul>
</BaseLayout>
