---
import BaseLayout from "../layouts/BaseLayout.astro";

const blogPosts = await Astro.glob("./blog/**/*.mdx");
---

<BaseLayout title="Blog" path="/blog" description="I like to post about my life, comparison of the technologies I use and other cool stuff here.">
  <h2 transition:name="header-text" class="text-left leading-[1!important]">Dev-Siri's Blog</h2>
  <p class="text-xl text-left">
    I like to post about my life, comparison of the technologies I use, open source related things and other cool stuff here.
  </p>
  <ul class="list-[none!important]">
    {
      blogPosts
        .sort((prevPost, nextPost) => {
          if (new Date(prevPost.frontmatter.publishdate) < new Date(nextPost.frontmatter.publishdate)) return 1;

          return -1;
        })
        .map(({ frontmatter, url }) => (
          <li>
            <a href={url} class="p-2 text-start">
              <h5 transition:name={frontmatter.title}>{frontmatter.title}</h5>
              <p class="text-gray-400">{frontmatter.description}</p>
            </a>
          </li>
        ))
    }
  </ul>
</BaseLayout>
