---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import SocialMediaLink from "../components/SocialMediaLink.astro";
---

<BaseLayout title="Get My Book" description="Get my O'Rly Book" path="/book" class="text-start">
  <h1>Get my O'Rly Book</h1>
  <article class="flex mt-4">
    <section>
      <Image
        src="/images/orly-book-siri-shreyas.avif"
        alt="O'Rly Book titled 'Detecting Bot Accounts Programmatically'"
        height={150}
        width={450}
        class="rounded-md"
      />
    </section>
    <section class="ml-10">
      <h4>Dev-Siri & Shreyas "Detecting Bot Accounts Programmatically" O'Rly Book</h4>
      <p class="text-xl text-gray-400 mt-2">$15.00</p>
      <div class="flex flex-col w-fit">
        <button type="button" class="bg-white text-black p-4 rounded-md my-4 hover:bg-gray-200 duration-200" id="checkout-btn">
          Proceed to Checkout
        </button>
        <div class="flex gap-2">
          By <SocialMediaLink username="@IroncladDev" variant="twitter">IroncladDev</SocialMediaLink>
        </div>
      </div>
    </section>
  </article>
</BaseLayout>

<script>
  const checkoutButton = document.getElementById("checkout-btn");

  const RICKROLL_URL = "https://www.youtube.com/watch?v=dQw4w9WgXcQ";

  checkoutButton?.addEventListener("click", () => window.open(RICKROLL_URL));
</script>
