---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import SocialMediaLink from "../components/SocialMediaLink.astro";
---

<BaseLayout title="Get My Book" description="Get my O'Rly Book" path="/book" class="text-start">
  <h4 class="mt-2">Get my O'Rly Book</h4>
  <article class="flex flex-col md:flex-row items-start gap-5 mt-4">
    <section>
      <Image
        src="/images/orly-book-siri-shreyas.avif"
        alt="O'Rly Book titled 'Detecting Bot Accounts Programmatically'"
        height={150}
        width={450}
        class="rounded-md"
      />
    </section>
    <section class="md:ml-10">
      <h5 class="text-balance">Dev-Siri & Shreyas "Detecting Bot Accounts Programmatically" O'Rly Book</h5>
      <p class="text-md text-gray-400 mt-2">$15.00</p>
      <div class="flex flex-col w-fit">
        <button type="button" class="bg-white text-black p-2 px-4 rounded-full my-4 hover:bg-gray-200 duration-200" id="checkout-btn">
          Proceed to Checkout
        </button>
        <div class="flex gap-2">
          <span class="text-md">By</span>
          <SocialMediaLink username="@IroncladDev" variant="twitter">IroncladDev</SocialMediaLink>
        </div>
      </div>
    </section>
  </article>
</BaseLayout>

<script>
  const checkoutButton = document.getElementById("checkout-btn");

  const RICKROLL_URL = "https://www.youtube.com/watch?v=dQw4w9WgXcQ";

  checkoutButton?.addEventListener("click", () => window.open(RICKROLL_URL));
</script>
