---
import BookItem from "../components/BookItem.astro";
import AnimatedText from "../islands/AnimatedText.svelte";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Get My Book" description="Get my O'Rly Book" path="/book" class="text-start">
  <h4 class="mt-6">
    dev-siri's
    <span class="font-semibold">
      <AnimatedText client:load text="books" animatedSpeed={50} />
    </span>
  </h4>
  <BookItem
    title="BaguetteMaxxing Deepfakes 🥖🇫🇷"
    authors="Dev-Siri"
    price={9.99}
    imageUrl="/images/orly-book-siri.avif"
    imageSize={{
      height: 150,
      width: 250,
    }}
  />
  <BookItem
    title="Detecting Bot Accounts Programmatically"
    authors="Dev-Siri & Shreyas"
    price={3.99}
    imageUrl="/images/orly-book-siri-shreyas.avif"
    imageSize={{
      height: 150,
      width: 295,
    }}
  />
</BaseLayout>
