---
import GalleryPicture from "../components/GalleryPicture.astro";
import AnimatedText from "../islands/AnimatedText.svelte";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Gallery" description="Pictures I took, when touching grass." path="/gallery">
  <h4 class="mt-2">
    dev-siri's
    <span class="font-semibold">
      <AnimatedText client:load text="gallery" animationSpeed={50} />
    </span>
  </h4>
  <div class="grid grid-cols-2 md:grid-cols-3 gap-4 mt-4">
    <div class="grid gap-4">
      <GalleryPicture index={1} location="Varanasi, India" height={575} width={1280} />
      <GalleryPicture index={2} location="Varanasi, India" height={1599} width={720} />
      <GalleryPicture index={3} location="Varanasi, India" height={670} width={301} />
    </div>
    <div class="grid gap-4">
      <GalleryPicture index={4} location="Varanasi, India" height={1600} width={719} />
      <GalleryPicture index={5} location="Varanasi, India" height={1280} width={960} />
      <GalleryPicture index={6} location="Varanasi, India" height={575} width={1280} />
    </div>
    <div class="grid gap-4">
      <GalleryPicture index={7} location="Varanasi, India" height={575} width={1280} />
      <GalleryPicture index={8} location="Varanasi, India" height={1599} width={720} />
      <GalleryPicture index={9} location="Varanasi, India" height={1280} width={880} />
    </div>
  </div>
</BaseLayout>
