---
import { getSession } from "auth-astro/server";

import BaseLayout from "../layouts/BaseLayout.astro";

import AddComment from "../islands/AddComment.astro";
import GuestbookComments from "../islands/GuestbookComments.astro";
import Login from "../islands/Login.astro";

import { getGuestbookEntries } from "../utils/guestbook";
import { getFormattedTime, getRelativeTime } from "../utils/time";

const session = await getSession(Astro.request);

const guestbookEntries = await getGuestbookEntries();
---

<BaseLayout
  title="Guestbook"
  description="Communicate with people browsing the same site as you are right now around the internet with simple text."
  path="/guestbook"
  class="text-center"
>
  <h1>Guestbook</h1>
  <p class="mt-6 mb-10 text-2xl">Communicate with people browsing the same site as you are right now <br /> around the world with simple text.</p>
  {
    session ? (
      <AddComment />
    ) : (
      <>
        <div class="w-full justify-center flex">
          <Login></Login>
        </div>
        <GuestbookComments>
          {guestbookEntries
            .sort((prevEntry, nextEntry) => {
              if (new Date(prevEntry.createdAt) < new Date(nextEntry.createdAt)) return 1;

              return -1;
            })
            .map(({ username, createdAt, comment }) => (
              <article class="flex flex-col items-start">
                <div class="flex gap-2">
                  <p class="text-gray-300">{username}:</p>
                  <p>{comment}</p>
                </div>
                <time class="text-xs text-gray-400 font-bold" datetime={getFormattedTime(createdAt)}>
                  {getRelativeTime(createdAt)}
                </time>
              </article>
            ))}
        </GuestbookComments>
      </>
    )
  }
</BaseLayout>
