---
import BaseLayout from "../layouts/BaseLayout.astro";

import AnimatedSiriLogo from "../components/AnimatedSiriLogo.astro";
import SocialLinks from "../components/SocialLinks.astro";

const blogPosts = await Astro.glob("./blog/**/*.mdx");
---

<BaseLayout title="Hi I'm Dev-Siri, Web & Flutter Developer">
  <section>
    <div class="flex justify-center">
      <AnimatedSiriLogo />
    </div>
    <h2 transition:name="header-text">Hi I'm Dev-Siri</h2>
    <p class="mt-5 px-10 text-center text-xl">
      Just another dude into programming. Spends a lot of his time on Twitter, writes code. what else do I even have to say here? Can go, rust, htmx,
      the only technologies you need to know right now.
    </p>
    <div class="my-10">
      <SocialLinks />
    </div>
    <a href="/blog" class="bg-semi-dark-gray p-4 rounded-full px-10">My writings →</a>
  </section>
  <section class="pt-10" id="blog">
    <h3 class="text-left">Recent Blog Posts</h3>
    <ul class="list-[none!important]">
      {
        blogPosts
          .sort((prevPost, nextPost) => {
            if (new Date(prevPost.frontmatter.publishdate) < new Date(nextPost.frontmatter.publishdate)) return 1;

            return -1;
          })
          .slice(0, 3)
          .map(({ frontmatter, url }) => (
            <li>
              <a href={url} class="text-start">
                <h6 transition:name={frontmatter.title}>{frontmatter.title}</h6>
                <p class="text-gray-400 -mt-5">{frontmatter.publishdate}</p>
              </a>
            </li>
          ))
      }
    </ul>
  </section>
</BaseLayout>
