---
import BaseLayout from "../layouts/BaseLayout.astro";

const blogPosts = await Astro.glob("./blog/**/*.mdx");
---

<BaseLayout title="Hi I'm Dev-Siri, Web & Flutter Developer">
  <section>
    <h4>Hi I'm Dev-Siri</h4>
    <p class="text-lg mb-6">
      Just another dude into programming. Spends a lot of his time on Twitter, writes code. what else do I even have to say here? Can go, rust, htmx,
      the only technologies you need to know right now.
    </p>
  </section>
  <section id="blog">
    <h4>Recent Blog Posts</h4>
    <ul class="list-[none!important]">
      {
        blogPosts
          .sort((prevPost, nextPost) => {
            if (new Date(prevPost.frontmatter.publishdate) < new Date(nextPost.frontmatter.publishdate)) return 1;

            return -1;
          })
          .slice(0, 3)
          .map(({ frontmatter, url }) => (
            <li class="py-0">
              <a href={url}>
                <h6 transition:name={frontmatter.title}>{frontmatter.title}</h6>
                <p class="text-gray-400 -mt-5">{frontmatter.publishdate}</p>
              </a>
            </li>
          ))
      }
    </ul>
  </section>
</BaseLayout>
