---
import BaseLayout from "../layouts/BaseLayout.astro";

import { videoUrl } from "../env";

export const prerender = true;
---

<BaseLayout title="Secret?" description="Are you sure you want to see this?" path="/secret" class="text-center">
  <secret-page>
    <section class="flex flex-col items-center justify-center h-[60vh]" slot="main">
      <button id="absolutely-sure" class="bg-accessible-blue p-3 rounded-md">Are you sure you want to see this?</button>
    </section>
    <section slot="video" class="flex flex-col items-center justify-center h-[60vh]">
      <p id="count-down" class="font-bold text-6xl">3</p>
      <video
        src={videoUrl}
        class="h-[80vh] mt-20 w-full border-2 border-gray-700 rounded-md object-cover hidden"
        id="video-player"
        poster="/images/projects/secret-project.avif"
      >
      </video>
    </section>
  </secret-page>
</BaseLayout>

<script>
  import { navigate } from "astro:transitions/client";

  class SecretPage extends HTMLElement {
    private stage: 1 | 2 | 3 | 4 | 5 | 6 = 1;
    private isMain = true;

    constructor() {
      super();
      this.attachShadow({ mode: "open" });
      this.render();
    }

    private playVideo() {
      const videoPlayer = document.getElementById("video-player") as HTMLVideoElement;
      const countDown = document.getElementById("count-down");

      if (!countDown || !videoPlayer) return;

      let count = 3;

      const countdownInterval = setInterval(() => {
        if (count === 0) {
          clearInterval(countdownInterval);
          countDown.remove();
          videoPlayer.classList.toggle("hidden");
          videoPlayer.play();
          setTimeout(() => navigate("/projects"), 15000);
        } else {
          countDown.textContent = count.toString();
          count--;
        }
      }, 1000);
    }

    private decideNextRender() {
      if (this.stage < 6) {
        this.stage++;
        const absolutelySure = document.getElementById("absolutely-sure");

        if (absolutelySure) absolutelySure.textContent = this.getButtonText();
        return;
      }

      this.isMain = false;
      this.render();
    }

    private getButtonText() {
      switch (this.stage) {
        case 1:
          return "Are you sure you want to see this?";
        case 2:
          return "Are you REALLY sure?";
        case 3:
          return "Are you REALLY REALLY sure?";
        case 4:
          return "One last time, are you serious?";
        case 5:
          return "Fine";
        default:
          return "You win, click to show the project";
      }
    }

    private render() {
      if (this.isMain) {
        const mainSlot = Object.assign(document.createElement("slot"), { name: "main" });
        const absolutelySure = document.getElementById("absolutely-sure");

        if (absolutelySure) {
          absolutelySure.textContent = this.getButtonText();
          absolutelySure.onclick = () => this.decideNextRender();
        }

        this.shadowRoot?.appendChild(mainSlot);
        return;
      }

      const mainSlotRef = document.querySelector("section[slot=main]");
      if (mainSlotRef) mainSlotRef.remove();

      const videoSlot = Object.assign(document.createElement("slot"), { name: "video" });
      this.shadowRoot?.appendChild(videoSlot);

      this.playVideo();
    }
  }

  customElements.define("secret-page", SecretPage);
</script>
