---
import { status } from "../data";
import BaseLayout from "../layouts/BaseLayout.astro";

export const prerender = true;
---

<BaseLayout title="Status" description="Where I am, what I am." path="/status" class="text-center">
  <h1>Status</h1>
  <p class="mt-2 [text-wrap: balance]">
    <span class="text-3xl">Living in{" "}</span>
    <span class="text-7xl font-bold">
      {status.country}{" "}
    </span>
    <span class="text-3xl">Studying in{" "}</span>
    <span class="font-bold text-7xl">
      {status.class}th Grade
    </span>
  </p>
  <p class="mt-4">
    <span class="font-bold text-7xl">
      {status.age}{" "}
    </span>
    <span class="text-3xl">years old</span>
  </p>
</BaseLayout>
