---
import Technology from "../components/Technology.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { technologies } from "../data";
---

<BaseLayout title="Technologies" description="Stuff I mostly work with daily" class="flex flex-col items-center text-center" path="/technologies">
  <h1>Technologies.</h1>
  <p class="mt-5 text-2xl leading-relaxed ml-2">Languages & Frameworks I mostly work with everyday.</p>
  <aside class="grid grid-cols-2 place-items-center sm:grid-cols-3 md:place-content-start md:grid-cols-4 w-screen">
    {technologies.map(technology => <Technology {...technology} />)}
  </aside>
</BaseLayout>
