---
import Technology from "../components/Technology.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

import { technologies } from "../data";

export const prerender = true;
---

<BaseLayout title="Technologies" description="Stuff I mostly work with daily" path="/technologies">
  <h2 transition:name="header-text" class="text-left leading-[1!important]">Technologies</h2>
  <p class="text-xl text-left mt-5">Stuff I work with everyday/know.</p>
  <aside class="grid grid-cols-2 place-items-center sm:grid-cols-3 md:place-content-start md:grid-cols-4">
    {technologies.map(technology => <Technology {...technology} />)}
  </aside>
</BaseLayout>
