---
import { Image } from "astro:assets";
---

<footer class="text-center flex flex-col items-center">
  <p class="-mb-28">Made with ❤️ by Aarush</p>
  <Image src="/images/siri-speech-animation.webp" alt="Siri Voice" loading="lazy" decoding="async" height={10} width={250} />
</footer>
