---
import siriSpeechAnimation from "../assets/siri-speech-animation.webp";
---

<footer class="text-center flex flex-col items-center">
  <p class="-mb-28">Made with ❤️ by Aarush</p>
  <img src={siriSpeechAnimation.src} alt="Siri Voice" loading="lazy" height={10} width={250} />
</footer>
