---
import { Image } from "astro:assets";

import { links } from "../data";
---

<nav class="fixed bg-dark-gray z-20 border-b-2 items-center border-gray-800 flex w-screen p-6">
  <a href="/" class="text-xl flex-1 flex items-center gap-4">
    <Image src="/images/logo.avif" alt="Logo" height={75} width={75} class="h-12 w-12 rounded-full" />
     aarush.dev
  </a>
  <section class="items-center hidden lg:flex justify-around flex-[2]">
    {
      links.map(navLink => (
        <a
          class="hover:text-gray-300 duration-200 hover:bg-semi-visible-blue hover:scale-125 border-blue-400 hover:border-2 rounded-md p-2 transform-gpu px-10"
          href={`/${navLink}`}
        >
          {navLink.charAt(0).toUpperCase()}
          {navLink.slice(1)}
        </a>
      ))
    }
  </section>
  <label for="menu-hidden" class="flex cursor-pointer lg:hidden flex-col gap-1 hover:gap-2 duration-200">
    <div class="h-1 rounded-md w-10 bg-gray-200"></div>
    <div class="h-1 rounded-md w-10 bg-gray-200"></div>
    <div class="h-1 rounded-md w-10 bg-gray-200"></div>
  </label>
</nav>
