---
import { links } from "../data";
import AnimatedSiriLogo from "./AnimatedSiriLogo.astro";
---

<style>
  .nav-gradient {
    background: linear-gradient(to bottom, #111111, transparent);
  }
</style>

<nav class="fixed z-20 items-center flex w-screen p-2 nav-gradient">
  <a href="/" class="w-fit">
    {Astro.url.pathname !== "/" && <AnimatedSiriLogo height={40} width={40} />}
  </a>
  <section class="items-center hidden lg:flex justify-around ml-auto">
    {
      links.map(navLink => (
        <a class="hover:text-white text-gray-300 duration-200 rounded-md p-2 transform-gpu px-10" href={`/${navLink}`}>
          {navLink.charAt(0).toUpperCase()}
          {navLink.slice(1)}
        </a>
      ))
    }
  </section>
  <label for="menu-hidden" class="flex cursor-pointer lg:hidden flex-col ml-auto mr-2 gap-1 hover:gap-2 duration-200">
    <div class="h-1 rounded-md w-10 bg-gray-200"></div>
    <div class="h-1 rounded-md w-10 bg-gray-200"></div>
    <div class="h-1 rounded-md w-10 bg-gray-200"></div>
  </label>
</nav>
