---
import { links } from "../data";
import AnimatedSiriLogo from "./AnimatedSiriLogo.astro";
---

<nav class="z-20 items-center flex w-full p-2">
  <a href="/" class="w-fit">
    <AnimatedSiriLogo height={40} width={40} />
  </a>
  <section class="items-center hidden lg:flex justify-around ml-auto">
    {
      links.map(navLink => (
        <a class="hover:text-white text-gray-300 duration-200 rounded-md p-2 transform-gpu px-10" href={`/${navLink}`}>
          {`${navLink.charAt(0).toUpperCase()}${navLink.slice(1)}`}
        </a>
      ))
    }
  </section>
  <label for="menu-hidden" class="flex cursor-pointer lg:hidden flex-col ml-auto mr-2 gap-1 hover:gap-2 duration-200">
    <div class="h-1 rounded-md w-10 bg-gray-200"></div>
    <div class="h-1 rounded-md w-10 bg-gray-200"></div>
    <div class="h-1 rounded-md w-10 bg-gray-200"></div>
  </label>
</nav>
