---
import { Icon } from "astro-icon/components";

import { socialLinks } from "../data";
---

<div class="flex gap-6 w-full justify-center">
  {
    socialLinks.map(socialLink => (
      <a href={socialLink.link} target="_blank" rel="noreferrer noopener" aria-label={`${socialLink.name} Link`} title={socialLink.name}>
        <Icon name={socialLink.icon} height={25} width={25} color={"white"} />
      </a>
    ))
  }
</div>
