---
import type { TechnologyInfo } from "../data";

interface Props extends TechnologyInfo {}

const { name, link, description, tooltipClassname, Icon } = Astro.props;
---

<a
  href={link}
  target="_blank"
  rel="noopener noreferrer"
  class="bg-[#333] mt-10 rounded-full h-40 w-40 hover:scale-125 group flex duration-200 justify-center items-center"
>
  <Icon />
  <span class=`bg-black rounded-md absolute p-2 mb-20 scale-0 group-hover:scale-100 ${tooltipClassname}`>
    {name}
    <br />
    <span class="text-xs text-gray-400 overflow-hidden">
      {description}
    </span>
  </span>
</a>
