---
import { Icon } from "astro-icon";
---

<button id="github-login" class="flex gap-2 bg-black cursor-pointer p-2 px-4 rounded-md items-center self-center" aria-label="Login with Github">
  <Icon name="mdi:github" size={35} />
  <p>Login with Github</p>
</button>

<script>
  const githubLogin = document.getElementById("github-login");

  if (githubLogin)
    githubLogin.onclick = async () => {
      const { signIn } = await import("auth-astro/client");

      signIn("github");
    };
</script>
