<svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title>Astro</title>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M63.6948 7.39406C64.4535 8.33663 64.8404 9.60859 65.6143 12.1526L82.5183 67.7266C76.2685 64.4819 69.4742 62.1416 62.3087 60.8791L51.3023 23.6561C51.2145 23.3591 51.0331 23.0986 50.785 22.9134C50.537 22.7283 50.2358 22.6285 49.9263 22.629C49.6169 22.6295 49.316 22.7302 49.0685 22.9161C48.8211 23.102 48.6404 23.3632 48.5536 23.6604L37.6806 60.8602C30.4817 62.1172 23.6564 64.4616 17.3797 67.7182L34.3669 12.1397C35.1431 9.60015 35.5311 8.33038 36.2899 7.38945C36.9598 6.55882 37.8311 5.91371 38.8207 5.51562C39.9416 5.06468 41.2685 5.06468 43.9221 5.06468H56.0552C58.7123 5.06468 60.0408 5.06468 61.1628 5.51656C62.1533 5.91547 63.0251 6.56189 63.6948 7.39406Z"
    fill="url(#paint0_linear_2_2)"
  >
  </path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M65.7176 70.3714C62.931 72.7562 57.3688 74.3826 50.9619 74.3826C43.0983 74.3826 36.5073 71.9326 34.7584 68.6376C34.1332 70.5259 33.993 72.6872 33.993 74.0678C33.993 74.0678 33.581 80.8469 38.2926 85.5625C38.2926 83.1141 40.2759 81.1297 42.7223 81.1297C46.9156 81.1297 46.9109 84.7906 46.9071 87.7609L46.9068 88.0258C46.9068 92.5344 49.6602 96.3992 53.5759 98.0289C52.9911 96.825 52.663 95.4727 52.663 94.0445C52.663 89.7445 55.1855 88.143 58.1171 86.282H58.1172C60.4497 84.8016 63.0414 83.157 64.8275 79.857C65.7595 78.1352 66.2887 76.1635 66.2887 74.0678C66.2887 72.7791 66.0885 71.5372 65.7176 70.3714Z"
    fill="#FF5D01"
  >
  </path>
  <path
    fill-rule="evenodd"
    clip-rule="evenodd"
    d="M65.7176 70.3714C62.931 72.7562 57.3688 74.3826 50.9619 74.3826C43.0983 74.3826 36.5073 71.9326 34.7584 68.6376C34.1332 70.5259 33.993 72.6872 33.993 74.0678C33.993 74.0678 33.581 80.8469 38.2926 85.5625C38.2926 83.1141 40.2759 81.1297 42.7223 81.1297C46.9156 81.1297 46.9109 84.7906 46.9071 87.7609L46.9068 88.0258C46.9068 92.5344 49.6602 96.3992 53.5759 98.0289C52.9911 96.825 52.663 95.4727 52.663 94.0445C52.663 89.7445 55.1855 88.143 58.1171 86.282H58.1172C60.4497 84.8016 63.0414 83.157 64.8275 79.857C65.7595 78.1352 66.2887 76.1635 66.2887 74.0678C66.2887 72.7791 66.0885 71.5372 65.7176 70.3714Z"
    fill="url(#paint1_linear_2_2)"
  >
  </path>
  <defs>
    <linearGradient id="paint0_linear_2_2" x1="68.9999" y1="2.1182" x2="49.9216" y2="67.7187" gradientUnits="userSpaceOnUse">
      <stop stop-color="white"></stop>
      <stop offset="1" stop-color="#F9FAFB"></stop>
    </linearGradient>
    <linearGradient id="paint1_linear_2_2" x1="78.2646" y1="50.9726" x2="61.7447" y2="85.5298" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FF1639"></stop>
      <stop offset="1" stop-color="#FF1639" stop-opacity="0"></stop>
    </linearGradient>
  </defs>
</svg>
